/* ===== RESET GENERAL ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== FONDO CON EFECTO MARCA DE AGUA ===== */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("img/hunter.webp");
    background-size: cover;
    background-position: center;

    opacity: 0.50;
    z-index: -1;
}

/* ===== SECCIONES ===== */
.seccion {
    min-height: 100vh;
    padding-top: 1.5rem;
}

/* ===== BARRA DE MENU ===== */
nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}